body {
  background-color: #c3c3c3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:#333;
}

.text {
  margin: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#headshot  {
  height: 500px;
  float: right; 
  margin: 50px 50px 0 0;
  padding: 20px;   
  border-radius: 25px;
  }

#intro {
  float: left;
  margin: 25px 25px 25px 25px;
  font-size: 50px;
}

#intro-text{
  float: left;
  margin: 0 25px 25px 25px;
  font-size: 20px;
}

ul.topnav {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover {background-color: #111;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}

  #intro {font-size: 20px; margin: 100px 0 0 0;}
  #intro-text {font-size: 12px;}
  #headshot {height: 200px; margin: 100px 0 0 0;}

  div.card {padding: 10px; margin: 10px}

  div.card img {height: 75px;}

  div.card a {font-size: 12px; padding: 5px;}

  div.card p {font-size: 10px; padding: 5px;}

  embed { width: 350px;}

}

.card {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card img {
  width: 250px;
}

.card a {
  font-size: 25px;
  color:#333;
  font-weight: 100;
  padding: 10px;
}

.card p {
  padding: 10px;
}

/* Only generate underline to indicate link if project has its own page */
.card a.link_present{
  text-decoration: underline;
}

.card a.link_null {
  text-decoration: none;
  cursor: not-allowed;
}

